<div style="margin-top: 80px;">
  <div class="text-center">
    <h1 class="text-white">Our Movies</h1>
    <div class="d-flex justify-content-center mt-4">
      <nav class="nav nav-pills" *ngFor="let cat of categories">
        <a class="nav-link rounded-pill bg-white text-dark border mx-2 px-4 py-2" (click)="selectedCategorie(cat)">{{cat}}</a>

      </nav>
    </div>
    
    <div id="movieCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <!-- First Slide -->
        <div class="carousel-item active">
          <div class="row mx-auto" style="max-width: 1200px;">
            <div class="col-sm-6 col-md-3" *ngFor="let film of filtredFilm">
              <a [routerLink]="['/movie-details', film.id]"> <!-- Ajout de la directive routerLink -->
                <app-single-movie [film]="film"></app-single-movie>
              </a>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>